

<div style='background-color: #605f5f;height: 100vh;overflow: hidden;'>
	<div class="row" style='height: 150px'>
	</div>
	<div class='row col-md-12' >
		<div class='col-md-4'>
		</div>
		<div class='col-md-4' style='background-color: #f9f3f3;border: 1px black;    display: flex;justify-content: center;border-radius: 12px;padding-top: 30px;padding-bottom: 30px'>
			<form [formGroup]='userForm'>

				

			    <label>Email-Id</label>
			    <div class="input-group mb-3">
			     	<input type="text"   formControlName='emailId' aria-describedby="basic-addon1">
			    </div>
			    
			    <label>Password</label>
			       <div class="input-group mb-3">
			      <input type="text"   formControlName='password' aria-describedby="basic-addon1">
			    </div>	

	    	
	    		<button class="btn btn-primary" type="button" (click)='login()' style="margin-top: 10px;">Login</button>
	    		<!-- <button class="btn btn-primary" type="button" (click)='SignUp()' style="margin-left: 40px;margin-top: 20px;">Signup</button> -->
	    		<br>
	    		<p (click)='SignUp()' style='color: #0b5ed7;'>Sign Up </p>
	    	</form>
		</div>
		<div class='col-md-4'>
		</div>
	</div>
</div>